<div class="container">
    <div *ngIf="orientacion">
  <div class="row">
      
      <div class="col-sm-8 offset-sm-2" >
          <form class="form-horizontal" [formGroup]="rForm" (ngSubmit)="updateOrientacion(rForm.value)">
              <div class="form-group">
                  <label class="control-label col-sm-12">introducción</label>
                  <div class="col-sm-12">
                      <input class="form-control" [value]="orientacion.introduccion" type="text" formControlName="introduccion">
                      <small [hidden]="rForm.controls.introduccion.valid">
                          El nombre es requerido
                      </small>
                  </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-12">Bases Curriculares</label>
                <div class="col-sm-12">
                    <input class="form-control" [value]="orientacion.basesCurriculares" type="text" formControlName="basesCurriculares">
                    <small [hidden]="rForm.controls.basesCurriculares.valid">
                       Son requeridas las bases curriculares
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-12">Programa de Estudio</label>
                <div class="col-sm-12">
                    <input class="form-control" [value]="orientacion.programaEstudio" type="text" formControlName="programaEstudio">
                    <small [hidden]="rForm.controls.programaEstudio.valid">
                       Es requerido un programa de estudio
                    </small>
                </div>
            </div>

             

             
              <div class="col-sm-12" formArrayName="asignaturas">
                  <h5>Añadir asignatura
                      <button class="btn btn-secundary col-sm-2 float-right" type="button" (click)="addAsignatura()">
                          <i class="fas fa-plus-circle"></i>
                      </button>
                  </h5>
                  <br>
                  <div class="form-group row" *ngFor="let asignatura of rForm.controls.asignaturas.controls;  let i=index">
                      <div class="col-sm-12 text-center">
                          <label class="col-form-label">#{{i+1}} Asignatura</label>
                      </div>
                      <div class="col-sm-12" [formGroupName]="i">
                          <div class="col-sm-12">
                              <label class="col-sm-1 col-form-label">Asignatura</label>
                              <div class="col-sm-12">
                                  <input class="form-control form-control col-sm-12" [value]="orientacion.asignaturas[i].asignatura" type="text" formControlName="asignatura">
                                  <small [hidden]="rForm.controls.asignaturas.controls[i].controls.asignatura.valid">
                                      Es requerida una asignatura
                                  </small>
                              </div>
                              <div class="col-sm-12">
                                  <label class="col-form-label">Propósito Formativo </label>
                                  <input class="form-control form-control col-sm-12" type="text" [value]="orientacion.asignaturas[i].proposito_formativo" formControlName="proposito_formativo">
                                  <small [hidden]="rForm.controls.asignaturas.controls[i].controls.proposito_formativo.valid">
                                      Es requerido que ingrese un propósito formativo
                                  </small>
                              </div>
                              <div class="col-sm-12">
                                  <label class="col-form-label">Énfasis </label>
                                  <input class="form-control form-control col-sm-12" type="text" [value]="orientacion.asignaturas[i].enfasis" formControlName="enfasis">
                                  <small [hidden]="rForm.controls.asignaturas.controls[i].controls.enfasis.valid">
                                      Es requerido el énfasis de la asignatura
                                  </small>
                              </div>
                              <br>
                              <div class="text-center">
                                  <button class="btn btn-danger col-sm-5" (click)=removeAsignatura(i)>
                                      <i class="fas fa-trash-alt"></i> Borrar
                                  </button>
                              </div>
                              <hr>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="form-group text-center">
                  <div class="col-sm-offset-2 col-sm-12">
                      <input type="submit" class="btn btn-primary col-sm-6" value="Aceptar Cambios" >
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
</div>