<html lang="en">
<div *ngIf="orientacion" id="accordion">

  <head>
    <meta charset="utf-8" />
    <title>Detalle Orientación </title>
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
  </head>
  <div class="card">


    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Detalle Orientación
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="table-responsive-md">
          <table class="table no-border">
            <thead>
              <tr>
                <th scope="row"> Atributo</th>
                <th scope="row"> Valor</th>
              </tr>
            </thead>
            <tbody class="table-hover">
              <tr>
                <th scope="row">MongoID</th>
                <td scope="row">{{orientacion._id}}</td>
              </tr>
              <tr>
                <th scope="row">Introducción</th>
                <td scope="row">{{orientacion.introduccion}}</td>
              </tr>
              <tr>
                <th scope="row">Base Curricular </th>
                <td scope="row">{{orientacion.basesCurriculares}}</td>
              </tr>
              <tr>
                <th scope="row">Programa de Estudio</th>
                <td scope="row">{{orientacion.programaEstudio}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2"></div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Asignaturas Registradas
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="table-responsive-md">
            <table class="table no-border">
              <thead>
                <tr>
                  <th scope="col">Asignatura </th>
                  <th scope="col">Énfasis </th>
                  <th scope="col">Propósito Formativo </th>
                </tr>
              </thead>
              <tr *ngFor=" let asignaturas of orientacion.asignaturas ; let i=index">
                <th scope="row">{{ asignaturas.asignatura }}</th>
                <td>{{ asignaturas.enfasis }}</td>
                <td>{{ asignaturas.proposito_formativo }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>